{% extends "component-manager/_layouts/settings" %}
{% set title = "Discovery Settings"|t('component-manager') %}
{% set fullPageForm = true %}
{% set selectedSettingsItem = 'discovery' %}

{% set crumbs = [
    {
        label: pluginName ?? 'Component Manager',
        url: url('component-manager'),
    },
    {
        label: 'Settings'|t('component-manager'),
        url: url('component-manager/settings'),
    },
    {
        label: 'Discovery'|t('component-manager'),
        url: url('component-manager/settings/discovery'),
    },
] %}

{% import "_includes/forms" as forms %}

{% block content %}
    <h2>{{ 'Discovery Settings'|t('component-manager') }}</h2>
    
    <form method="post" accept-charset="UTF-8">
        {{ csrfInput() }}
        {{ actionInput('component-manager/settings/save') }}
        {{ redirectInput('component-manager/settings/discovery') }}
        {{ hiddenInput('section', 'discovery') }}

        {{ forms.lightswitchField({
            label: 'Allow Nesting'|t('component-manager'),
            instructions: 'Allow nested folder organization for components'|t('component-manager'),
            id: 'allowNesting',
            name: 'settings[allowNesting]',
            on: settings.allowNesting,
            warning: settings.isOverriddenByConfig('allowNesting') ? 'This is being overridden by the `allowNesting` setting in the `config/component-manager.php` file.'|t('component-manager'),
            disabled: settings.isOverriddenByConfig('allowNesting'),
            errors: settings.getErrors('allowNesting')
        }) }}

        {{ forms.textField({
            label: 'Max Nesting Depth'|t('component-manager'),
            instructions: 'Maximum folder nesting depth (0 = unlimited)'|t('component-manager'),
            id: 'maxNestingDepth',
            name: 'settings[maxNestingDepth]',
            value: settings.maxNestingDepth,
            type: 'number',
            min: 0,
            warning: settings.isOverriddenByConfig('maxNestingDepth') ? 'This is being overridden by the `maxNestingDepth` setting in the `config/component-manager.php` file.'|t('component-manager'),
            disabled: settings.isOverriddenByConfig('maxNestingDepth'),
            errors: settings.getErrors('maxNestingDepth')
        }) }}
        
        {{ forms.textareaField({
            label: 'Ignore Folders'|t('component-manager'),
            instructions: 'Folders to ignore when discovering components (one per line)'|t('component-manager'),
            id: 'ignoreFolders',
            name: 'settings[ignoreFolders]',
            value: settings.ignoreFolders|join("\n"),
            rows: 5,
            placeholder: "node_modules\n.git\nvendor\ndist\nbuild",
            warning: settings.isOverriddenByConfig('ignoreFolders') ? 'This is being overridden by the `ignoreFolders` setting in the `config/component-manager.php` file.'|t('component-manager'),
            disabled: settings.isOverriddenByConfig('ignoreFolders'),
            errors: settings.getErrors('ignoreFolders')
        }) }}

        {{ forms.textareaField({
            label: 'Ignore Patterns'|t('component-manager'),
            instructions: 'File patterns to ignore when discovering components (one per line)'|t('component-manager'),
            id: 'ignorePatterns',
            name: 'settings[ignorePatterns]',
            value: settings.ignorePatterns|join("\n"),
            rows: 3,
            placeholder: "*.test.twig\n*.spec.twig\n_*",
            warning: settings.isOverriddenByConfig('ignorePatterns') ? 'This is being overridden by the `ignorePatterns` setting in the `config/component-manager.php` file.'|t('component-manager'),
            disabled: settings.isOverriddenByConfig('ignorePatterns'),
            errors: settings.getErrors('ignorePatterns')
        }) }}
    </form>

    {% include 'component-manager/_components/plugin-credit.twig' %}
{% endblock %}