{% extends "component-manager/_layouts/settings" %}
{% set title = "Features"|t('component-manager') %}
{% set fullPageForm = true %}
{% set selectedSettingsItem = 'features' %}

{% set crumbs = [
    {
        label: pluginName ?? 'Component Manager',
        url: url('component-manager'),
    },
    {
        label: 'Settings'|t('component-manager'),
        url: url('component-manager/settings'),
    },
    {
        label: 'Features'|t('component-manager'),
        url: url('component-manager/settings/features'),
    },
] %}

{% import "_includes/forms" as forms %}

{% block content %}
    <h2>{{ 'Features'|t('component-manager') }}</h2>
    
    <form method="post" accept-charset="UTF-8">
        {{ csrfInput() }}
        {{ actionInput('component-manager/settings/save') }}
        {{ redirectInput('component-manager/settings/features') }}
        
        {{ forms.lightswitchField({
            label: 'Enable Prop Validation'|t('component-manager'),
            instructions: 'Validate component props based on their definitions'|t('component-manager'),
            id: 'enablePropValidation',
            name: 'enablePropValidation',
            on: settings.enablePropValidation,
            warning: settings.isOverridden('enablePropValidation') ? 'This is being overridden by the `enablePropValidation` setting in the `config/component-manager.php` file.'|t('component-manager'),
            disabled: settings.isOverridden('enablePropValidation'),
            errors: settings.getErrors('enablePropValidation')
        }) }}

        {{ forms.lightswitchField({
            label: 'Enable Cache'|t('component-manager'),
            instructions: 'Cache component discovery for better performance'|t('component-manager'),
            id: 'enableCache',
            name: 'enableCache',
            on: settings.enableCache,
            warning: settings.isOverridden('enableCache') ? 'This is being overridden by the `enableCache` setting in the `config/component-manager.php` file.'|t('component-manager'),
            disabled: settings.isOverridden('enableCache'),
            errors: settings.getErrors('enableCache')
        }) }}

        {{ forms.textField({
            label: 'Cache Duration'|t('component-manager'),
            instructions: 'How long to cache component data, in seconds (0 = until manually cleared)'|t('component-manager'),
            id: 'cacheDuration',
            name: 'cacheDuration',
            value: settings.cacheDuration,
            type: 'number',
            min: 0,
            warning: settings.isOverridden('cacheDuration') ? 'This is being overridden by the `cacheDuration` setting in the `config/component-manager.php` file.'|t('component-manager'),
            disabled: settings.isOverridden('cacheDuration'),
            errors: settings.getErrors('cacheDuration')
        }) }}

        {{ forms.lightswitchField({
            label: 'Enable Debug Mode'|t('component-manager'),
            instructions: 'Show helpful error messages in dev mode'|t('component-manager'),
            id: 'enableDebugMode',
            name: 'enableDebugMode',
            on: settings.enableDebugMode,
            warning: settings.isOverridden('enableDebugMode') ? 'This is being overridden by the `enableDebugMode` setting in the `config/component-manager.php` file.'|t('component-manager'),
            disabled: settings.isOverridden('enableDebugMode'),
            errors: settings.getErrors('enableDebugMode')
        }) }}

        {{ forms.lightswitchField({
            label: 'Enable Usage Tracking'|t('component-manager'),
            instructions: 'Track component usage statistics'|t('component-manager'),
            id: 'enableUsageTracking',
            name: 'enableUsageTracking',
            on: settings.enableUsageTracking,
            warning: settings.isOverridden('enableUsageTracking') ? 'This is being overridden by the `enableUsageTracking` setting in the `config/component-manager.php` file.'|t('component-manager'),
            disabled: settings.isOverridden('enableUsageTracking'),
            errors: settings.getErrors('enableUsageTracking')
        }) }}
        
        {{ forms.lightswitchField({
            label: 'Enable Inheritance'|t('component-manager'),
            instructions: 'Allow components to extend other components'|t('component-manager'),
            id: 'enableInheritance',
            name: 'enableInheritance',
            on: settings.enableInheritance,
            warning: settings.isOverridden('enableInheritance') ? 'This is being overridden by the `enableInheritance` setting in the `config/component-manager.php` file.'|t('component-manager'),
            disabled: settings.isOverridden('enableInheritance'),
            errors: settings.getErrors('enableInheritance')
        }) }}

        {{ forms.lightswitchField({
            label: 'Enable Documentation'|t('component-manager'),
            instructions: 'Enable automatic documentation generation for components'|t('component-manager'),
            id: 'enableDocumentation',
            name: 'enableDocumentation',
            on: settings.enableDocumentation,
            warning: settings.isOverridden('enableDocumentation') ? 'This is being overridden by the `enableDocumentation` setting in the `config/component-manager.php` file.'|t('component-manager'),
            disabled: settings.isOverridden('enableDocumentation'),
            errors: settings.getErrors('enableDocumentation')
        }) }}

        {{ forms.lightswitchField({
            label: 'Allow Inline Components'|t('component-manager'),
            instructions: 'Allow components to be defined inline in templates'|t('component-manager'),
            id: 'allowInlineComponents',
            name: 'allowInlineComponents',
            on: settings.allowInlineComponents,
            warning: settings.isOverridden('allowInlineComponents') ? 'This is being overridden by the `allowInlineComponents` setting in the `config/component-manager.php` file.'|t('component-manager'),
            disabled: settings.isOverridden('allowInlineComponents'),
            errors: settings.getErrors('allowInlineComponents')
        }) }}
    </form>

    {% include 'component-manager/_components/plugin-credit.twig' %}
{% endblock %}