{% extends "component-manager/_layouts/settings" %}
{% set title = "General Settings"|t('component-manager') %}
{% set fullPageForm = true %}
{% set selectedSettingsItem = 'general' %}

{% set crumbs = [
    {
        label: pluginName ?? 'Component Manager',
        url: url('component-manager'),
    },
    {
        label: 'Settings'|t('component-manager'),
        url: url('component-manager/settings'),
    },
    {
        label: 'General'|t('component-manager'),
        url: url('component-manager/settings/general'),
    },
] %}

{% import "_includes/forms" as forms %}

{% block content %}
    <h2>{{ 'General Settings'|t('component-manager') }}</h2>
    
    {{ actionInput('component-manager/settings/save') }}
    {{ redirectInput('component-manager/settings/general') }}
    {{ hiddenInput('section', 'general') }}

        {% include 'lindemannrock-base/_partials/field-plugin-name' with {
            settings: settings,
            pluginHandle: 'component-manager',
        } only %}

        {{ forms.textField({
            label: 'Default Slot Name'|t('component-manager'),
            instructions: 'Name of the default slot for component content'|t('component-manager'),
            id: 'defaultSlotName',
            name: 'settings[defaultSlotName]',
            value: settings.defaultSlotName,
            placeholder: 'default',
            warning: settings.isOverriddenByConfig('defaultSlotName') ? 'This is being overridden by the `defaultSlotName` setting in the `config/component-manager.php` file.'|t('component-manager'),
            disabled: settings.isOverriddenByConfig('defaultSlotName'),
            errors: settings.getErrors('defaultSlotName')
        }) }}

        <hr>

        <h2>{{ 'Logging Settings'|t('component-manager') }}</h2>

        {% include 'lindemannrock-base/_partials/field-log-level' with {
            settings: settings,
            pluginHandle: 'component-manager',
        } only %}

    {% include 'lindemannrock-base/_components/plugin-credit' %}
{% endblock %}
