{% extends "component-manager/_layouts/settings" %}
{% set title = "Interface Settings"|t('component-manager') %}
{% set fullPageForm = true %}
{% set selectedSettingsItem = 'interface' %}

{% set crumbs = [
    {
        label: pluginName ?? 'Component Manager',
        url: url('component-manager'),
    },
    {
        label: 'Settings'|t('component-manager'),
        url: url('component-manager/settings'),
    },
    {
        label: 'Interface'|t('component-manager'),
        url: url('component-manager/settings/interface'),
    },
] %}

{% import "_includes/forms" as forms %}

{% block content %}
    <h2>{{ 'Interface Settings'|t('component-manager') }}</h2>

    <form method="post" accept-charset="UTF-8">
        {{ csrfInput() }}
        {{ actionInput('component-manager/settings/save') }}
        {{ redirectInput('component-manager/settings/interface') }}
        {{ hiddenInput('section', 'interface') }}

        {{ forms.textField({
            label: 'Items Per Page'|t('component-manager'),
            instructions: 'Number of components to show per page'|t('component-manager'),
            id: 'itemsPerPage',
            name: 'settings[itemsPerPage]',
            value: settings.itemsPerPage,
            type: 'number',
            min: 10,
            max: 500,
            required: true,
            disabled: settings.isOverriddenByConfig('itemsPerPage'),
            warning: settings.isOverriddenByConfig('itemsPerPage') ?
                'This is being overridden by the <code>itemsPerPage</code> setting in <code>config/component-manager.php</code>.'|t('component-manager')|raw : null,
            errors: settings.getErrors('itemsPerPage')
        }) }}
    </form>

    {% include 'component-manager/_components/plugin-credit.twig' %}
{% endblock %}
